#para1{
	color:rgba(0,0,0,0.6);
	width:1000px;
	font-size:20px;
	margin-left:100px;
	font-family:Arial;
}
#para2{
	color:rgba(0,0,0,0.6);
	width:1000px;
	font-size:20px;
	margin-left:100px;
}
#header_color{
background-color:rgba(0,0,0,0.9);
height:800px;
width:100%;
color:white;
margin-top:-400px;
}
 #head{
	font-size:70px;
	color:rgb(188,198,204);
	margin-top:-50px;
	margin-left:400px;
	text-shadow:1px 1px 1px rgb(188,198,204);
	height:50px;
}
#head {
    -webkit-box-reflect: below 12px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}
#sub_head{
	font-size: 30px;
	color:silver;
	margin-top:-30px;
	margin-left:490px;
	font-style:italic;
}

#juda{
	margin-top:-400px;
	margin-bottom:350px;
}